<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img class="bg" src="./images/bg.jpg" alt="" inline>
		<img class="retina phone" src="./images/phone.png" alt="" inline>
		<img class="retina txt t1a" src="./images/txt_1a.png" alt="" inline>
		<img class="retina txt t1b" src="./images/txt_1b.png" alt="" inline>

		<img class="retina txt t2a" src="./images/txt_2a.png" alt="" inline>
		


		
		<img class="retina logoSmall" src="./images/logo_small.png" alt="" inline>		
		<img class="retina logoBig" src="./images/logo_big.png" alt="" inline>
		<img class="retina footer" src="./images/footer.png" alt="" inline>
		
		
		<!-- <% include ../_common/templates/legal %> -->
			
	</div>
	
</div>